.light {
    background-color: white !important;
}
body{
background: #b00055;
background: linear-gradient(90deg, rgba(37,0,18,1) 0%, rgba(65,0,55,1) 46%, rgb(30, 3, 0) 100%);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
/* backdrop-filter: blur( 5px ); */
-webkit-backdrop-filter: blur( 5px );


}

.light{
    color: #b00055;
}

.dark {
    background-color: #0D0D2B !important ;
}

